body {
	margin: 0;
	padding: 0; 
	background-color: #89cff0;
}
.header {
	padding: 0px 0;
	background-image:url("../images/header.png");
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	
}
.nav {
	border-bottom: 1px solid #00599B;
	border-top: 1px solid #00599B;
	padding: 5px 0;
	background: #0072C6;
	position: -webkit-sticky;
}
.header, .nav {
	color: #fff;
}
.content {
	text-align: center;
	font-family: "Verdana", Sans-serif;
	background: #FFA953;
	color:black;
	width: 70%;
	margin: 0px auto 10px;
	border: 1px solid #FF952B;

}

.footer {
text-align: center;
height: 50px;
}

.foutmelding {
background-color: #FFFF66;
height: 30px;
}

.sticky {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  border-top: 0;
}

nav a {
	text-align: left;
	font-size:18pt;
	color: white;
	text-decoration: none;
	-webkit-transition:all 0.2s ease-in-out;
	-moz-transition:all 0.2s ease-in-out;
	transition:all 0.2s ease-in-out;
	text-align: left;
}
nav a:hover,
nav a:focus
{
	color: rgb(170,219,255);
}